body {
  margin: 0;
}

@font-face {
  font-family: "samarkan";
  src: url("../samarkan.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* HEAD ------------------------------------------------------------------------ */

.head {
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "menu login";
  background: url(../img/tajMahal3.jpg) center no-repeat;
  background-size: cover;
}

@media (max-width:1380px) {
  .head {
    background-size: 100% 110%;
  }
}

/* .menu {grid-area: menu;} */
.login {
  grid-area: login;
}

.fontLogin {
  float: right;
  margin: 5%;
  cursor: pointer;
  color: white;
}

.fontLogin:hover {
  color: #bb9c57;
}

.popLogin {
  position: absolute;
  top: 80px;
  right: 0;
  width: 230px;
  height: 250px;
  background-color: white;
}

.formLogin {
  margin-top: 20px;
}

.btnLogin {
  margin-left: 16px;
  background-color: #bb9c57;
  color: white;
}

.btnLogin:hover {
  background-color: #d3b167;
}

.spa {
  color: orange;
}

.historyGandhi {
  grid-template-columns: 600px 1fr 1fr;
  grid-template-areas: "gandhi textGandhi link";
}

.fundoGandhi {
  background: url("../img/fundo01.jpg") no-repeat center;
  background-size: cover;
}

.historyContainer {
  grid-template-columns: 600px 1fr 1fr;
  grid-template-areas: "anima culture enfeites";
}

.grid {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.grid2 {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  height: 40vh;
}

.fundoFooter {
  background-color: #d4d4cb;
}

.container2 {
  max-width: 1000px;
  margin: 40px auto;
  height: 100vh;
  text-align: center;
  font-family: lato;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 50%;
  height: 100vh;
}

.flex01 {
  flex: 1;
}

.footer {
  max-width: 100%;
  margin: auto;
  grid-template-areas: "email contatos midia";
}

.email {
  grid-area: email;
}
.contatos {
  grid-area: contatos;
}
.midia {
  grid-area: midia;
}

.galeria {
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.fotos {
  font-family: samarkan;
  font-size: 68px;
}

.container2 h2 {
  color: #444;
  font-size: 68px;
  padding-top: 20px;
}

.container2 h4 {
  margin-bottom: 20px;
}

.carousel-caption h5 {
  color: orange;
  font-family: lato;
  font-size: 48px;
}

.btnReservar {
  background: none;
  border: 1px solid white;
  padding: 10px 60px;
  color: white;
  cursor: pointer;
}

.btnReservar:hover {
  border: 1px solid orange;
  color: orange;
}

.fundoHistory {
  background: url("../img/fundo.jpg") no-repeat center;
  background-size: cover;
}

.gandhi {
  grid-area: gandhi;
  height: 100vh;
}

.textGandhi {
  grid-area: textGandhi;
}

.link {
  grid-area: link;
}

.anima {
  grid-area: anima;
  justify-self: center;
}
.culture {
  grid-area: culture;
}

.enfeites {
  grid-area: enfeites;
  text-align: right;
}

.gif {
  width: 500px;
  margin-top: 25%;
}

.gandhiImg {
  height: 100vh;
  max-width: 120%;
}

.culture h1 {
  font-family: samarkan;
  font-size: 100px;
  margin-top: 45%;
  color: white;
}

.culture2 h1 {
  font-family: samarkan;
  font-size: 100px;
  margin-top: 40%;
  color: white;
}

.cultureText {
  max-width: 400px;
  margin-top: 20px;
}

.textCult {
  color: white;
  font-family: lato;
  overflow: hidden;
  height: 150px;
}

.textCult2 {
  color: white;
  font-family: lato;
  overflow-y: scroll;
  height: 245px;
}

.textCult2::-webkit-scrollbar {
  width: 2px;
}

.textCult2::-webkit-scrollbar-track {
  background: white;
}

.textCult2::-webkit-scrollbar-thumb {
  background-color: orange;
}

.textCult::-webkit-scrollbar {
  width: 2px;
}

.textCult::-webkit-scrollbar-track {
  background: white;
}

.textCult::-webkit-scrollbar-thumb {
  background-color: #118806;
}

.icons {
  margin-top: 30px;
}

.icons i {
  color: white;
  cursor: pointer;
  margin-left: 0.5%;
  padding: 0 12px;
  font-size: 1.8rem;
}

.icons i:hover {
  color: #118806;
}

iframe {
  border: none;
  overflow-y: scroll;
}

.information {
  float: right;
  font-family: lato;
  font-size: 1.2rem;
  color: white;
  margin-top: 94vh;
  margin-right: 5%;
  position: relative;
  cursor: pointer;
}

.information2 {
  font-family: lato;
  font-size: 1.2rem;
  color: white;
  margin-top: 95vh;
  margin-right: 5%;
  position: relative;
  cursor: pointer;
  text-decoration:none; 
}

.information:hover {
  color: orange;
  text-decoration:none;
}

.information2:hover, a:link {
  color: #118806;
  text-decoration:none;
}

.display {
  display: none;
}

.transicao {
  width: 100%;
  text-align: center;
  margin: 80px auto;
  color: orange;
}

/* Forms reserva ----------------------------------------------------------------------------*/

.containerSuite {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-areas: 
    "logoHotel"
    "formHotel";
  justify-items: center;
}

.logoHotel {grid-area: logoHotel;}
.formHotel {grid-area: formHotel;}

.form-row {
  margin-top: 10px;
}

.suite {
  margin-top: 3.2%;
}

.imgLogo {
  max-width: 100%;
  height: auto;
}
.btnSuiteReservar {
  background-color: #D3B167;
  color: white;
  font-weight: 600;
  text-align: right;
  padding: 15px 40px;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  margin-left: 5px;
}

.btnVoltar {
  float: right;
  margin-top: -4.5%;
}

/* Página CLiente ----------------------------------------------------------------------------*/

.clienteheader {
  justify-content: center;
  display: flex;
}

.imgLogoCliente {
  margin: 40px;
}

.navegacao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #555;
  height: 80px;
}

.navegacao > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 5px 10px;
  margin-right: 20px;
}

.navegacao > a.vermelho {background-color: #f44336;}

.usuario {
  flex-grow: 1;
  justify-self: flex-start;
  color: #eee;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Modo App ---------------------------------------------------------------------------------*/

@media (max-width: 780px) {
  .head {
    background: url(../img/tajMahalApp.jpg) center no-repeat;
  }
}

.modoApp {
  display: none;
}

@media (max-width: 780px) {
  .modoApp {
    display: grid;
    max-width: 100%;
    height: 100%;
    grid-template-areas:
      "tituloApp"
      "imgApp"
      "textoApp";

    justify-items: center;
    text-align: center;
  }

  .tituloApp {
    grid-area: tituloApp;
  }
  .imgApp {
    grid-area: imgApp;
  }

  .textoApp {
    grid-area: textoApp;
  }

  .tituloApp {
    font-size: 2rem;
    font-weight: 900;
    color: #d3b167;
    margin: 40px auto;
  }

  .imgApp img {
    width: 50%;
  }

  .textoApp {
    max-width: 300px;
    margin: 20px auto;
    font-weight: 400;
    color: #444;
  }

  .tituloPreco2 {
    font-weight: 600;
    color: #D3B167;
  }

  .btnReservar2 {
    background: #D3B167;
    border: none;
    padding: 10px 60px;
    color: white;
    cursor: pointer;
  }

  .slider {
    display: none;
  }

  .historyGandhi {
    display: none;
  }

  .historyApp {
    display: none;
  }

  .transicaoApp {
    display: none;
  }

  .galeriaApp {
    display: none;
  }

  .container2 {
    display: none;
  }

  .container {
    display: none;
  }

  .flex {
    display: none;
  }

  .grid {
    display: none;
  }

  .grid2 {
    display: none;
  }
}

/* Modal Imagens ----------------------------------------------------------------------------------------*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  max-width: 600px;
  max-height: 600px;
}

/* Caption of Modal Image */
#caption, #caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption, #caption2 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}